body {
    background-color: #F5F5DC;
    margin: 0px;    
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #D2B48C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header #logo1 {
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    
}
.titulohead{
    display: flex;
    font-size: 40px;

}
header nav ul {
    display: flex;
    justify-content: flex-end;    
    gap: 20px; 
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;
    margin-right: 10px;
}
a {
    list-style: none;
    color: rgb(0, 0, 0);
    text-decoration: none;   
}
ul, ol { 
    list-style: none;    
}
/* esto hace que la moverme por el menu cambie 
nav ul :hover{
    background-color: black;
    color: #fff;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
}*/ 
#check{
    display: none;
}
.checkbtn{
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.greeting{
    display: block;
    border: 5px solid black;

    
  }
.bienve {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;  
    align-items: center;
    width: 100%;
}
.titulo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cards {
    display: flex;
    flex-wrap: wrap;
       
    gap: 10px;
  
    justify-content: center;
    align-items: center;
    
    
}
.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 700px;
    

}
.contenido{
    padding: 10px;
    height: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*flex-grow: 1;
    flex-shrink: 1;*/
    text-align: center;
    background-color: #FFFFFF; 
    border-radius: 5%; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);    
    margin: 0px;
    
}
.imgcontainer {
    display: block;
    width: 70%;
    height:50%
}
.titulosp{
    display: block;
    text-align: center;       
}
.texto{
    width: 90%;
    text-align: center;
}
.card .footercard {
    
    text-align: center;
    background-color: gray;  
    
}

footer{
    background-color: #D2B48C;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
footer nav ul{
    
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;    
}

footer #fiXeado {
    position: fixed;
    right: 0px;
    bottom: 0px;    
}
.footname{
    display: flex;
    justify-content: center;
    background-color: #e5ceb0;    
}


  
  


                            /*para moviles*/
                            

@media (max-width: 768px) {
    body{
        font-size: 10px;
    }


.checkbtn{
    display: block;
}

header nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(244, 244, 245);
    text-align: center;    
        
    top: 80px;
    left: 100%;
    transition: all 0.5s;
}

#check:checked ~ ul {
    left: 0%;
    display: block;
}

nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
#logo1 {
    display: flex;    
    align-items: center;
    width: 100%;
    margin-left: 10px;    
}

.bienve {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;  
    align-items: center;
    width: 100%;
}




.titulohead{    
    font-size: 10px;
    display: flex;
}

.cards {
    display: flex;
    flex-wrap: wrap;
      
  
}
   
.card {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    height: 100%; 
    
}
.contenido{
    padding: 10px;
    height: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.imgcontainer {
    width: 50%;
    height:40%
}
.titulosp{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; 
    font-size: 15px;   
}
.texto{
    width: 90%;
    text-align: center;
    font-size: 12px;
}
.card .footercard {
    background-color: gray;
    text-align: center;
}

footer{
    background-color: #D2B48C;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    
    
    
}
footer nav ul{
    
    display: flex;
    justify-content: space-evenly;
    gap: 30px;     
    font-size: 10px;
    padding-left: 5%; 
    margin-top: -40px;
    margin-bottom: -40px;
    align-items: center;
        
}

footer #fiXeado {
    position: fixed;
    right: 0px;
    bottom: 0px; 
      
}
.footname{
    display: flex;
    justify-content: center;
    background-color: #e5ceb0; 
    font-size: 10px; 
    width: 100%;
     
    
}
}

                        /*para pantallas grandes*/

 /*   
@media (min-width: 769px){
 .checkbtn{
    display: block;
}

header nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(244, 244, 245);
    text-align: center;
    
    top: 80px;
    left: 100%;
    transition: all 0.5s;
}

#check:checked ~ ul {
    left: 0%;
    display: block;
}

nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    border: 10px solid black;   
  
}
   
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;  
    border: 5px solid rgb(226, 38, 25); 
}
.contenido{
    padding: 10px;
    height: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.imgcontainer {
    width: 80%;
    height:60%
}
.titulosp{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;    
}
.texto{
    width: 90%;
    text-align: center;
}
.card .footercard {
    background-color: gray;
    text-align: center;
}

footer{
    background-color: #D2B48C;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
footer nav ul{
    
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;
}

footer #fiXeado {
    position: fixed;
    right: 0px;
    bottom: 0px;    
}
.footname{
    display: flex;
    justify-content: center;
    background-color: #e5ceb0;    
}